{% extends "GeschkeAdminTranslatorGUIBundle::base_admin.html.twig" %}

{%  block admincontent %}
    <div class="jumbotron">
        <h1>{% trans %}home.title{% endtrans %}</h1>
        <p>{% trans %}home.message{% endtrans %}</p>
        <p>
            <a class="btn btn-primary btn-lg" role="button" href="{{ path('geschke_admin_translator_gui_bundles') }}">{% trans %}url.bundles{% endtrans %}</a>
        </p>

    </div>

{% endblock %}
