{% extends "GeschkeAdminTranslatorGUIBundle::base_admin.html.twig" %}
{% form_theme form 'GeschkeAdminTranslatorGUIBundle:Form:fields.html.twig' %}


{% block admincontent %}
    <legend>{% trans %}title.add_new_language{% endtrans %}</legend>

    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}

    <div class="row">
        <div class="col-md-12">
            Zurück zur <a class="btn btn-default" href="{{ path('geschke_admin_translator_gui_bundles') }}">Liste der Bundles</a>
        </div>
    </div>

{% endblock %}